* {
    box-sizing: border-box;
}

body {
 background-color: green;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

#head {
    align-self: center;
    
}

#field {
    height: 70rem;
    border: 10px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

#goal {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   position: relative;
   
}

.component, .component-middle {
    background-color: lightblue;
    border: 1px solid black;
    
}

.component {
    height: 80px;
    width: 30px;
    background-color: blue,
}

.component-middle {
    height: 30px;
    width: 100px;
    text-align: center;
}

#projectile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 860px
}

#ball {
    height: 70px;
    width: 70px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    transition-property: all;
    transition-duration: 2s;
}

#platform {
    height: 30px;
    width: 100px;
    background-color: gray;
    border: 1px solid black;
}

footer {
    height: 50px;
    border-top: 1px solid black;
}

#reset {
    height: 30px;
    width: 100px;
    position: relative;
   
    margin-bottom: 10px;
}

#play {
    height: 30px;
    width: 100px;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}