* {
    box-sizing: border-box;
}

body {
 background-color: green;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#head {
    align-self: center;
    
}

#field {
    height: 70rem;
    border: 5px solid white;
}

#goal {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   position: relative;
   
}

.component, .component-middle {
    background-color: lightblue;
    border: 1px solid black;
    
}

.component {
    height: 80px;
    width: 30px;
    background-color: blue,
}

.component-middle {
    height: 30px;
    width: 100px;
    text-align: center;
}

#projectile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 880px
}

#ball {
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid black;

}

#platform {
    height: 30px;
    width: 100px;
    background-color: gray;
    border: 1px solid black;
}

footer {
    height: 100px;
    border-top: 1px solid black;
}