* {
    box-sizing: border-box;
}

body {
    font-family: 'sporty-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #60b922;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #b93022;
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow: 1px 1px black;
}

#head {
    align-self: center;
    justify-self: center;
    color: gold;
    text-shadow: 2px 2px black;
}


#help {
    display: none;
    text-align: center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    position: relative;
    background-color: lightgrey;
    border-radius: 5px;
    z-index: 1;
}

#close {
    position: relative;
    bottom: 5px;
    opacity: 100%;
}

#how-to {
    border: 1px solid white;
    padding: 5px;
    box-shadow: 2px 2px black;
    background-color: #60b922;
}

#how-to:hover {
    color: white;
    cursor: grab;
    box-shadow: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

#cele {
    margin-left: 42%;
    margin-right: 42%;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #b93022;
    box-shadow: 1px 1px #080f03;
}

#field {
    height: 70rem;
    width: 65rem;
    border: 10px solid #FAF9F6;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

#field-box {
    display: flex;
    justify-content: center;
    align-items: center;   
}

#goal {
   display: flex;
   margin-top: 50px;
   position: relative;
   left: 44%;
   width: 160px;
   
}

.component, .component-middle {
    background-color: #22abb9;
    
    
}

.component {
    height: 80px;
    width: 30px;
    background-color: #22abb9;
    border: 1px solid black;
}

.component-middle {
    height: 30px;
    width: 100.69px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#projectile {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 860px;
    width: 100px;
    position: relative;
    
}

#ball {
    height: 70px;
    width: 70px;
    background-color: orange;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    transition-duration: 0.8s;
    
}

#platform {
    height: 30px;
    width: 100px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
}

footer {
    height: 50px;
    border-top: 1px solid black;
}

#reset {
    height: 30px;
    width: 100px;
    position: relative;
   
    margin-bottom: 10px;
}

#reset, #play:hover {
    cursor: grab;
}

#play {
    height: 30px;
    width: 100px;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    
}

button {
    background-color: #b93022;
    border-radius: 2px;
    color: gold;
}

#score {
    text-align: center;
    color: gold;
    text-shadow: 1px 1px black;
}